*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

img {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  border: 0.4rem solid white;
  transition: transform 0.3s;
}

.container:hover img {
  transform: scale(1.15);
}

.container {
  border-radius: 3rem;
  box-shadow: 0 0 2rem 3rem #f9f9f9;
  max-width: 500px;
  margin: 0 2rem;
  overflow: hidden;
  transform: rotate(-5deg);
  transition: transform 0.2s;
}

.container:hover {
  transform: rotate(0);
}

.footer {
  display: flex;
  color: white;
  background: rgb(92, 191, 187);
  background: linear-gradient(
    54deg,
    rgba(92, 191, 187, 1) 26%,
    rgba(116, 214, 144, 1) 93%
  );
}

.footer,
.main {
  padding: 1.5rem 3rem;
}

.userName {
  margin: 0 1rem;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 4rem;
  }

  .footer {
    padding: 2rem 4rem;
  }
}
